h1{color:white;
text-align: right;
text-align: center;
font-size: 20px;
}
.text1{color:green;
font-size:60px}

#text2{color:blue;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
border:dotted;
border-color: white;
background-color: aquamarine;
padding-bottom: 20px;}

body{
   background: red;
   background-color: yellow;
}