h1{color:red;
text-align: right;
text-align: center;
font-size: 20px;
}
.text1{color:green;
font-size:60px}

#text2{color:blue;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
border:dotted;
border-color: red;
background-color: rgb(19, 109, 79);
padding-bottom: 200px;}

body{
   background: red;
   background: linear-gradient(to top);


}